@{
    var title = "Shop App";
}
<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">@title</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut aspernatur soluta reiciendis vitae voluptas a voluptatibus inventore labore. Corporis reprehenderit incidunt adipisci sit eligendi magni exercitationem nesciunt ratione, numquam nisi.</p>
        </div>
    </div>
</header>