<div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">ShopApp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a asp-controller="shop" asp-action="List" class="nav-link">Products</a>
            </li>
            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="" class="nav-link">Cart</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Orders</a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="ProductList" class="nav-link">AProducts</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="CategoryList" class="nav-link">ACategory</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="RoleList" class="nav-link">ARoles</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="UserList" class="nav-link">AUsers</a>
                    </li>
                }
            }
        </ul>
        <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a asp-controller="Account" asp-action="Manage" class="nav-link">@User.Identity.Name</a>
            </li>

            @if (User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                </li>
            }
        </ul>
    </div>
</div>