<div class="card mb-3">
    <div class="card-header">
        <h5>Search</h5>
    </div>
    <div class="row card-body">
        <div class="col-md-12">
            <form action="/Search">
                <div class="form-group">
                    <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </div>
                <button class="btn btn-primary btn-sm btn-block" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

@*
<a id="shopcart" asp-controller="Shop" asp-action="Cart" class="fas fa-shopping-basket fa-2x my-sm-0 my-2 p-1"></a>
*@